@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #000000;

    --cal-disponivel: #dcfce7;
    --cal-ocupado: #e5e7eb;
    --cal-selecionado: #2563eb;
    --cal-texto: #0f172a;
}

body {
    background: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
