@import "tailwindcss";

:root {
    /* generico */
    --background: #ffffff;
    --foreground: #000000;

    /* baseadas no logo da igreja */
    --home-background: #143157;
    --letter: #ffffff;
    --hover-selector: #5b6e88;
    --hover-letter: #001045;

    /* botão do calendario */
    --cal-disponivel: #dcfce7;
    --cal-ocupado: #e5e7eb;
    --cal-selecionado: #2563eb;
    --cal-texto: #0f172a;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
