@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* remove qualquer variação por tema */
body {
  background: #ffffff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
